.record-store-app {
  &_attribution-bar {
    width: 100%;
    padding: 25px var(--gutterWidth) 0;

    background: var(--spotifyBlack);
    color: white;

    font-size: 0.6rem;

    .spotify-logo {
      margin: 0 5px;
      width: 70px;
      fill: white;
      vertical-align: middle;
    }
  }
}
