@use "../mixins/breakpoints" as *;

.record-store-app {
  @mixin button-base {
    display: inline-block;
    cursor: pointer;
    transition: var(--defaultTransition);

    border: 2px solid transparent;
    border-radius: 1000px;
    padding: 20px;

    font-size: 0.8rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }

  &_primary-button {
    @include button-base;

    background: transparent;
    color: var(--spotifyBlack);
    background: var(--spotifyGreen);

    &:hover {
      background: var(--mint);
    }
  }

  &_secondary-button {
    @include button-base;

    background: transparent;
    color: var(--mint);
    border-color: var(--mint);

    &:hover {
      color: white;
      border-color: white;
    }
  }

  &_danger-button {
    @include button-base;

    background: var(--danger);
    color: white;
    border-color: var(--danger);

    &:hover {
      background: var(--lightDanger);
    }
  }

  &_button-row {
    margin: 30px 0;
    display: flex;
    gap: 20px;

    @include mobile-breakpoint {
      flex-direction: column;
    }
  }
}
