.record-store-app {
  @mixin icon-base {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--spotifyCharcoal);
  }

  &_playlist-icon {
    @include icon-base;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px;

    div {
      width: 100%;
      height: 5px;
      border-radius: 100px;
      background: var(--spotifyGrey);
    }
  }

  &_album-icon {
    @include icon-base;

    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 75%;
      height: 75%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border-radius: 100%;
      background-color: var(--spotifyGrey);
    }

    &::after {
      width: 25%;
      height: 25%;
      background-color: var(--spotifyCharcoal);
    }
  }

  &_song-icon {
    @include icon-base;

    position: relative;
    padding: 10px;

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      height: 45%;
      width: 5px;
      border-radius: 100px;

      background-color: var(--spotifyGrey);

      &::before,
      &::after {
        content: "";
        position: absolute;

        display: block;

        background-color: var(--spotifyGrey);
      }

      &::before {
        border-radius: 100px;
        width: 11px;
        height: 5px;

        top: 0;
        left: 0;

        transform: rotate(-30deg);
        transform-origin: 2px 2px;
      }

      &::after {
        border-radius: 100%;
        width: 12px;
        height: 12px;

        bottom: -3px;
        right: 0px;
      }
    }
  }
}
