@use "../mixins/link" as *;

.record-store-app {
  &_playlist-item {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: var(--defaultTransition);

    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    &:hover {
      color: var(--mint);

      .record-store-app_library-item-title {
        &::after {
          width: 80%;
        }
      }
    }

    .record-store-app_library-item-title {
      @include link-line;
    }
  }
}
