body {
  --danger: #bc1c1c;
  --danger: #b30909;
  --lightDanger: #db2e2e;
  --seafoam: #baf3ce;
  --mint: #2bdb69;
  --spotifyGreen: #1db954;
  --forest: #062b00;
  --spotifyBlack: #121212;
  --spotifyCharcoal: #212121;
  --spotifyGrey: #535353;
  --spotifyLightGrey: #b3b3b3;
}
