@use "base";
@use "vars";
@use "views";
@use "components";

.record-store-app {
  background: var(--spotifyBlack);
  min-height: 100vh;

  &_content {
    padding: 20px var(--gutterWidth);
    color: white;
  }
}
