@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 600;
  padding: 10px 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  margin: 10px 0;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

button {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.4;
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: justify;
}

ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

li {
  font-size: 1rem;
  list-style: initial;
  margin-bottom: 3px;
}

.record-store-app {
  &_small-print {
    font-size: 0.6rem;
  }
}
